@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas-regular/bebas___-webfont.eot');
    src: url('../fonts/bebas-regular/bebas___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebas-regular/bebas___-webfont.woff2') format('woff2'), url('../fonts/bebas-regular/bebas___-webfont.woff') format('woff'), url('../fonts/bebas-regular/bebas___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_regular';
    src: url('../fonts/opensans/opensans-regular-webfont.eot');
    src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans-bold/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-regular/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-regular/ubuntu-r-webfont.woff2') format('woff2'), url('../fonts/ubuntu-regular/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu-regular/ubuntu-r-webfont.ttf') format('truetype'), url('../fonts/ubuntu-regular/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-boldubuntu-b-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-boldubuntu-b-webfont.woff2') format('woff2'), url('../fonts/ubuntu-boldubuntu-b-webfont.woff') format('woff'), url('../fonts/ubuntu-boldubuntu-b-webfont.ttf') format('truetype'), url('../fonts/ubuntu-boldubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-light/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-light/ubuntu-l-webfont.woff2') format('woff2'), url('../fonts/ubuntu-light/ubuntu-l-webfont.woff') format('woff'), url('../fonts/ubuntu-light/ubuntu-l-webfont.ttf') format('truetype'), url('../fonts/ubuntu-light/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-Design-Iconic-Font/Material-Design-Iconic-Font.woff2?v=2.1.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.1.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.1.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.light-text {
    color: #ffffff;
}
.dark-text {
    color: #C63400;
}


html {
 
    
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll;
  
    -webkit-text-size-adjust: 100%;
}


::-moz-selection {
    background: #FF6100;
    text-shadow: none;
    color: #ffffff;
}
::selection {
    background: #FF6100;
    text-shadow: none;
    color: #ffffff;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


a:hover,
a:active {
    outline: none;
}
.btn-submit {
    background-color: #FF6100;
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 1.2rem 2.5rem;
    border: 0;
}


.btn-submit:hover {
    background-color: #DF5400;
    color: #ffffff;
    transition: 0.3s ease all;
}
.btn-submit:focus {
    background-color: #BF4800;
    color: #ffffff;
    transition: 0.3s ease all;
}
.btn-submit:active {
    background-color: #BF4800;
    color: #ffffff;
    transition: 0.3s ease all;
}

.btn-submit,
.btn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-submit,
.btn {
    touch-action: none;
}


svg:not(:root) {
    overflow: hidden;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input[type="radio"] {
    vertical-align: text-bottom;
}
input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}
.ie6 input {
    vertical-align: text-bottom;
}


label,
input[type=button],
input[type=submit],
button {
    cursor: pointer;
}


input[type="text"]:valid,
input[type="email"]:valid {
  
    
    border: 2px solid #39ff19;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 20px 20px;
}


input[type="email"]:invalid ~ .requirements {
    transition-delay: 1s;
}


.contact-form {
    width: 100%;
    padding-left: 3px;
}
input,
select {
    display: block;
    background-color: #F6F6F6;
    border: solid 1px #dfdfdf;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-family: ubuntulight, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    width: 100%;
    color: #3F3F3F;
}
textarea {
    background-color: #F6F6F6;
    border: solid 1px #dfdfdf;
    color: #3F3F3F;
    padding: .5rem 1rem;
    font-family: ubuntulight, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 2.3rem;
}
input,
select {
    margin-bottom: 1rem;
}


.float-l {
    width: 49.5%;
    float: left;
}
.float-r {
    width: 48%;
    float: right;
}


.root {
    font-size: 62.5%;
}
html {
    font-size: 62.5%;

}
.body {
    margin: 0;
    font-family: bebasregular, Arial, Helvetica, sans-serif;
 
    
    font-size: 1.6rem;
    background-color: #ffffff;
    margin: 0;
}


.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 0;
}
.top-stripe-wrapper {
    width: 100%;
    background-color: #FF6201;
    height: 3.6rem;
}
.top-stripe {
    width: 100%;
    max-width: 966px;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 auto;
    font-family: bebasregular, Arial, Helvetica, sans-serif;
    font-size: 1.54rem;
    background-color: #FF6201;
    color: #C03B00;
}
.top-stripe > div > span {
    margin-right: 10px;
}
.top-stripe a[href^="tel:"] {
    color: #ffffff;
    text-decoration: none;
}


.header-wrapper {
    background-color: #F9F9F9;
    width: 100%;
    margin-bottom: 4.5rem;
    clear: both;
}
.header {
    margin: 0 auto;
    max-width: 966px;
}
.dropdown-toggle {
    font-size: 1.4rem;
}
.navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 4px solid #F9F9F9;
}
a .dropdown-toggle:hover {
    border-bottom: 4px solid #FF6201;
    transition: 0.3s ease all;
}
.dropdown-menu {
    box-shadow: 0 0 0 0;
    padding: 10px 0;
    min-width: 100px;
    margin-right: -25px;
}
.dropdown-menu > li > a:hover {
    background-color: #ffffff;
    transition: 0.3s ease all;
}
.navbar-nav > li > .dropdown-menu {
    border-radius: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    border-bottom: 4px solid #FF6201;
    background-color: #F9F9F9;
    transition: 0.3s ease all;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  
    
    font-family: "Myriad Pro", arial, helvetica, sans-serif;
}
.navbar-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.navbar-default {
    background-color: #f9f9f9;
    border-width: 0;
}
.navbar-collapse {
    background-color: transparent;
 
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.container-fluid {
    height: 108px;
    padding: 0;
    width: 100%;
}
.menu-main-nav-container {
    font-size: 1.8rem;
}

.breadcrumb > li + li::before {
    content: "/ ";
    padding: 0 1px;
}
.breadcrumb {
    font-size: 1.3rem;
    background-color: transparent;
    margin: 0 auto 4.2rem;
    padding: 0;
    font-family: ubunturegular, Arial, Helvetica, sans-serif;
    max-width: 966px;
}
.breadcrumb a {
    color: #b1b1b1;
}


.breadcrumb-active {
    font-family: ubuntubold, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.breadcrumb:active {
    font-family: ubuntubold, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: #000000;
    transition: 0.3s ease all;
}
.main {
    max-width: 966px;
    margin: 0 auto 7.6rem;
    overflow: hidden;
}
.article-contact_header {
    margin-bottom: 6rem;
}
.article-contact_contact-us {
    width: 48.6%;
    margin-right: 80px;
    float: left;
}
.article-contact_reach-us {
    width: 42.44%;
    float: left;
 
    
    font-family: "Myriad Pro", arial, helvetica, sans-serif;
    color: #5B5B5B;
}
.article-contact_reach-us a {
    color: #5B5B5B;
}
.article-contact_h1 {
    color: #FF6100;
    font-family: open_sans_bold, Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
}
.article-contact_h2 {
    width: 100%;
    color: #FF6002;
    font-family: open_sans, Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    text-transform: capitalize;
    border-bottom: 6px solid #595959;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}
.article-contact_p {
    font-family: ubuntulight, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: #b1b1b1;
}
.social-bar {
    color: #D0D0D0;
    margin-top: 3.4rem;
}
.fa {
    font-size: 3.3rem;
    background-color: white;
    margin-right: 2px;
}
.fa:hover {
    color: #363636;
    transition: 0.3s ease all;
}


@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
  
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;

    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
 
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
  
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
 
    
    img {
        max-width: 100% !important;
    }
   
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}